<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mr.repo.MyTripMapper" >
  <resultMap id="BaseResultMap" type="com.mr.entity.MyTrip" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="my_car_id" property="myCarId" jdbcType="INTEGER" />
    <result column="start_longitude" property="startLongitude" jdbcType="DECIMAL" />
    <result column="start_latitude" property="startLatitude" jdbcType="DECIMAL" />
    <result column="end_longitude" property="endLongitude" jdbcType="DECIMAL" />
    <result column="end_latitude" property="endLatitude" jdbcType="DECIMAL" />
    <result column="start_oil" property="startOil" jdbcType="DECIMAL" />
    <result column="end_oil" property="endOil" jdbcType="DECIMAL" />
    <result column="mileage" property="mileage" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,
    my_car_id,
    start_longitude,
    start_latitude,
    end_longitude,
    end_latitude,
    start_oil,
    end_oil,
    mileage,
    remarks,
    create_by,
    create_date,
    update_by,
    update_date,
    del_flag
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from my_trip
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="delete" parameterType="java.lang.Integer" >
    delete from my_trip
    where id IN
    <foreach collection="list" open="(" close=")" separator="," item="id">
      #{id}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.mr.entity.MyTrip" useGeneratedKeys="true" keyProperty="id">
    insert into my_trip (
    id,
    my_car_id,
    start_longitude,
      start_latitude,
      end_longitude,
      end_latitude,
      start_oil,
      end_oil,
      mileage,
      remarks,
      create_by,
      create_date,
      update_by,
      update_date,
      del_flag
      )values (
      #{id,jdbcType=INTEGER},
      #{myCarId,jdbcType=INTEGER},
      #{startLongitude,jdbcType=DECIMAL},
      #{startLatitude,jdbcType=DECIMAL},
      #{endLongitude,jdbcType=DECIMAL},
      #{endLatitude,jdbcType=DECIMAL},
      #{startOil,jdbcType=DECIMAL},
      #{endOil,jdbcType=DECIMAL},
      #{mileage,jdbcType=DECIMAL},
      #{remarks,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP},
      #{delFlag,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="com.mr.entity.MyTrip" >
    update my_trip
    <set >
      <if test="myCarId != null" >
        my_car_id = #{myCarId,jdbcType=INTEGER},
      </if>
      <if test="startLongitude != null" >
        start_longitude = #{startLongitude,jdbcType=DECIMAL},
      </if>
      <if test="startLatitude != null" >
        start_latitude = #{startLatitude,jdbcType=DECIMAL},
      </if>
      <if test="endLongitude != null" >
        end_longitude = #{endLongitude,jdbcType=DECIMAL},
      </if>
      <if test="endLatitude != null" >
        end_latitude = #{endLatitude,jdbcType=DECIMAL},
      </if>
      <if test="startOil != null" >
        start_oil = #{startOil,jdbcType=DECIMAL},
      </if>
      <if test="endOil != null" >
        end_oil = #{endOil,jdbcType=DECIMAL},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>